html {
    font-size: 14px;
}

.pStyle {
    margin-top: 30px;
}

.linkButton:link, .linkButton:visited {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: .25rem;
    padding-top: 13px;
    padding-bottom: 12px;
}

.buttonYes {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    background: #36A420; 
}

.buttonYes:hover, .buttonYes:active {
    text-decoration: none;
    color: white;
    background: #31951D;
    border-radius: .25rem;
}

.buttonNo {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    color: #4D4D4D;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    background: #FFFFFF;
    border: 1px solid #4D4D4D;
}

.buttonNo:hover, .buttonNo:active {
    text-decoration: none;
    color: #4D4D4D;
    background: #F2F2F2;
    border-radius: .25rem;
}

.footerStyle {
    margin-top: 400px;
}


